<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>businessValue</key>
	<array>
		<string>100</string>
		<string>200</string>
		<string>300</string>
		<string>500</string>
		<string>800</string>
		<string>1200</string>
		<string>2000</string>
		<string>3000</string>
	</array>
	<key>default</key>
	<array>
		<string>¿?</string>
		<string>0</string>
		<string>½</string>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>5</string>
		<string>8</string>
		<string>13</string>
		<string>20</string>
		<string>50</string>
		<string>PAUSE</string>
	</array>
</dict>
</plist>
